@import "tailwindcss";

@theme {
  --color-offwhite: #E6E6E6;
  --color-grafite: #1A1A1A;
  --color-concreto: #333333;
  --color-verde: #00FB64;
  --color-amarelo: #E6FF00;

  --font-anek: var(--font-anek-latin);
  --font-anek-semi: var(--font-anek-latin-semi-expanded);
  --font-sans: var(--font-anek-latin-semi-expanded);
}

:root {
  --foreground-rgb: 230, 230, 230;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0a0a0a;
  font-family: var(--font-anek-semi);
}
